.weather-bg {
  height: 50vh;
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background: url("https://www.maketecheasier.com/assets/uploads/2020/06/Featured-Image-Live-Weather-Wallpapers-Android.jpg");
}
.form-control,
.btn-primary {
  width: 300px;
}
.input-section {
  justify-content: center;
}
.result-container {
  margin: 30px 0;
  display: flex;
}
.weatherResult {
  background-image: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300% 300%;
  animation: bg-animation 10s ease infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 300px;
  width: 500px;
}

@keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.weather-img{
  display: flex;
    flex-direction: column;
    align-items: center;
  text-align: center;
  width: 130px;
  height: 130px;
}

.weather-city {
  text-align: center;
  font-size: 35px;
  font-weight: 200;
  margin: 0;
  
}
.temp {
  text-align: center;
  font-weight: 350;
  font-size: 40px;
}
.temp-c {
  font-weight: 300;
  font-size: 25px;
}

.min-max-container {
  display: flex;
  align-items: center;
}
.min-max {
  margin: 0;
  padding-right: 5px;
  font-weight: 300;
}
.min-max-temp {
  margin: 0;
  padding-right: 15px;
  font-weight: 400;
}
.min-max-celsius {
  font-size: 15px
}

@media only screen and (max-width: 800px) {
  .input-section {
    justify-content: center;
  }
  .weatherResult {
    width: 350px;
    height: 300px;
  }
  .weather-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
    height: 90px;
    margin: 0 0 20px 0 ;
  }
  .weather-desc {
    width: 300px;
  }

  .weather-city {
    margin-top: 20px;
  }
  .temp {
    font-weight: 400;
    font-size: 30px;
    margin: 10px;
  }
  span {
    font-size: 20px;
  }
  p {
    margin: 0;
  }

}
@media only screen and (max-width: 399px) {
  .result-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .weatherResult {
    margin: 20px;
    width: 300px;
    height: 300px;
  }
}
